.download {
    &__inner {  
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 300px;
    }
    
    &__subtitle { 
      padding-bottom: 18px;
    }

    &__title {  
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -2px;
      padding-bottom: 28px;
      max-width: 284px;
    }

    &__text { 
      font-size: 20px;
      line-height: 32px;
      color: #333333;
      padding-bottom: 34px;
    }

    &__bloks {  
      margin: 0 auto;
      height: 144px;

      position: relative;
    }
    &__bloks-box {
      padding: 77px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      
    }
    &__bloks-image {
      max-width: 1170px;
      max-height: 288px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    &__bloks-content { 
      z-index: 100;

    }
    &__bloks-title { 
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -2px;
      color: #FFFFFF;
    }
    &__bloks-text {
      font-size: 20px;
      line-height: 32px;
      color: #FFFFFF;
      
    }
    &__bloks-btn {
      padding: 15px 40px;
      color: #FFFFFF;
      background: #FF7988;
      border-radius: 6px;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      z-index: 15;
    }
}