.faq {
  /*  Стили для FAQ */ 
  background: $color-bg-blue;
  /*  Стили для вложенности */ 
    &__inner {
    }
    &__content {
      text-align: center;
      margin: 0 auto;
      max-width: 486px;
      padding-bottom: 83px;
    }
    &__subtitle {
      padding-bottom: 18px;
    }
    &__title {
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -2px;
      
    }
    &__accordeon {
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
      border-radius: 12px;
      max-width: 770px;
      margin: 0 auto;
    }
    &__accordeon-list {
      
    }
    &__accordeon-item {
      padding: 40px 40px 30px 40px;
    }
}

.accordion__item-btn {
  position: relative;
}
.accordion__arrow-up {
  position: absolute;
  top: -10px;
  right: 0px;
  padding: 17px 15px 19px 15px;
  border: 1px solid rgba(74, 144, 226, 0.3);
  border-radius: 24px;
  line-height: 0;
}
.accordion__arrow-down {
  position: absolute;
  top: 32px;
  right: 40px;
  padding: 17px 15px 19px 15px;
  border: 1px solid rgba(74, 144, 226, 0.3);
  border-radius: 24px;
  line-height: 0;
  display: none;
}
.accordion__item-box {
  
}
.accordion__item-title {
  font-size: 24px;
}
.accordion__item-text {
  padding-top: 35px;
}