.faq {
  /*  Стили для FAQ */ 
  background: $color-bg-blue;
  /*  Стили для вложенности */ 
    &__inner {
    }
    &__content {
      text-align: center;
      margin: 0 auto;
      max-width: 486px;
      padding-bottom: 83px;
    }
    &__subtitle {
      padding-bottom: 18px;
    }
    &__title {
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -2px;
      
    }
    &__accordeon {
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
      border-radius: 12px;
      max-width: 770px;
      margin: 0 auto;
    }
    &__accordeon-list {
      
    }
    &__accordeon-item {
      padding: 40px 40px 30px 40px;
    }
}
.accordion__item-link {
  position: relative;
}
.accordion__item-title::after {
  content: url(../../img/FAQ/up.svg);
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 0;
  transform: rotate(180deg);
  transition: all .3s;
}

.accordion__item-link--active .accordion__item-title::after  {
  transform: rotate(0deg);
}

.accordion__item-box {
  
}
.accordion__item-title {
  font-size: 24px;
}
.accordion__item-text {
  padding-top: 35px;
}
