.footer {
  background: $color-bg-blue;

    &__inner {
    }
    &__top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 69px;

      
    }
    &__logo {
    }
    &__menu {
    }
    &__service {
    }
    .footer__subtitle {
      padding-bottom: 16px;
    }
    &__social {
    }
    &__social-link {
      padding-right: 8px;
    }
    &__social-link:last-child {
      padding-right: 0px;
    }
    &__bottom {
      border-top: 2px solid rgba(0, 0, 0,0.16);
      mix-blend-mode: normal;
      padding-top:42px ;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__copy {
      color: rgba(51, 51, 51, 0.5);
    }
    &__privacy a {
      padding-right: 62px;
    }
    &__privacy a:last-child {
      padding-right: 0px;
    }
}

.footer__menu  a:hover {
  transform: scale(1.1);
  display: block;
}
.footer__service a:hover {
  transform: scale(1.1);
  display: block;
}
