.service {
  /* Стили для SERVICE sections 1 */
// display: flex;
// flex-direction: column;

  /* Стили для вложенности */
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 208px;
  }
  &__image-box {

  }
  &__content {
  }
  &__subtitle {
    padding-bottom: 18px;
  }
  &__title {
    padding-bottom: 28px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
  }
  &__text {
    padding-bottom: 34px;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
  }
  &__button {
    padding: 15px 39px;
    color: #4A90E2;
  }
}
/* Стили для SERVICE sections 2 */
.service__cards-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
} 
.service__card {
  border-radius: 12px;
  max-width: 370px;
  &-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 176px;
  }
  &-inner {
    padding: 32px;
  }
  &-image {
    padding-bottom: 58px;
  }
  &-content {
  }
  &-title {
    padding-bottom: 17px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }
  &-text {
    padding-bottom: 16px;
  }

  &-link {
    transition: all .3s;
  }
  &-link:hover {
    border-bottom: 2px solid #333333;
  }
  &-button {
    padding: 15px 32px;
    margin: 0 auto;
    color: #4A90E2;
  }
}
.service__card--blue {
  background: #E3F0FF;
}
.service__card--orange {
  background: #FFF2DE;
} 
.service__card--green {
  background: #ECFFD7;
}
/* Стили для SERVICE sections 3 */

.service__bord {
  background: url(../../img/service/block-service.svg) 0 0 / 100% no-repeat;
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 100px 77px 100px;
  }
  &-content {

  }
  &-title {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #FFFFFF;
    padding-bottom: 12px;
  }
  &-text {
    font-size: 20px;
    color: #FFFFFF;
  }
  &-button {
    padding: 15px 36px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: #FF7988;
    border-radius: 6px;
    transition: all .3s;
  }
  &-button:hover {
    transform: scale(1.05);
  }
}
