
/*  Стили для Rating */ 
.testimonials__slide-rating {
	width: 160px;
  padding-bottom: 41px;
}
.testimonials__slide-rating span {
	padding: 0;
	font-size: 27px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.testimonials__slide-rating > span:before {
	content: '★';
}
.testimonials__slide-rating > span.active {
	color: #F8E71C;
}

/*  Основные стили */ 

.testimonials {
/*  Стили для TESTIMONIALS */ 
  background: $color-bg-blue ;
/*  Стили для вложенности */ 
  &__subtitle {
    padding-bottom: 18px;
  }
  &__title {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    padding-bottom: 67px;
  }
  &__slider {
    display: flex;
    align-items: center;  
    padding-bottom: 48px;
  }
  &__slide {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
    border-radius: 12px;
    width: 470px;
    margin-right: 30px;
  }
  &__slide-box {
    padding: 48px;
    
  }

  &__slide-text {
    font-size: 20px;
    padding-bottom: 59px;
  }
  &__slide-profile {
    display: flex;
    align-items: center;
    
  }

  &__slide-buttons {
    position: relative;
    line-height: 0;
  }
}


.slide__icon {
  padding-right: 30px;
}
.slide__name {
  font-weight: 700;
  font-size: 24px;
}