.block {
    width: 100vw;
    height: 100px;
    background-color: black;
    margin: 50px 0;
    transition: 3s 2s;
}

.block:hover {
    background-color: gray;
}

.block1 {
    width: 100vw;
    height: 100px;
    background-color: black;
    margin: 50px 0;
    transition-delay: 2s;
    transition-duration: 3s;
}

.block1:hover {
    background-color: gray;
}