@charset "UTF-8";
@font-face {
  font-family: Sora;
  src: local("Sora"), url(../../fonts/Sora-Regular.woff2) format("woff2"), url(../../fonts/Sora-Regular.woff) format("woff"), url(../../fonts/Sora-Regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Sora;
  src: local("Sora"), url(../../fonts/Sora-Bold.woff2) format("woff2"), url(../../fonts/Sora-Bold.woff) format("woff"), url(../../fonts/Sora-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* =================== Главные стили =============== */
html, body {
  font-family: Sora, sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.container {
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 25px;
}

.button {
  display: inline-block;
  border: 1px solid rgba(74, 144, 226, 0.3);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.content-box {
  max-width: 470px;
}

.subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #9497A5;
}

.title {
  font-weight: 700;
}

.text {
  color: rgba(51, 51, 51, 0.5);
}

.body {
  margin-bottom: 0px;
}

/* ======================= BLOKS =================== */
/* ======================= HEADER =================== */
.header {
  /* Стили для Header */
  background: url(../img/header/header-decor.svg) center/100% no-repeat #EAF3FF;
  /* Стили для для вложенности */
}
.header__top {
  padding-top: 30px;
  padding-bottom: 115px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item {
  padding-right: 47.5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #4A90E2;
}
.header__nav-item:last-child {
  padding-right: 0px;
}
.header__button {
  padding: 14px 31.3px;
  color: #4A90E2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.header__body {
  padding-bottom: 100px;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}
.header__body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  max-width: 470px;
}
.header__content-subtitle {
  padding-bottom: 21px;
}
.header__content-title {
  letter-spacing: -3px;
  font-size: 72px;
  line-height: 80px;
  padding-bottom: 27px;
}
.header__content-text {
  padding-bottom: 38px;
}
.header__content-btn {
  color: #FFFFFF;
  background: #4A90E2;
  padding: 14px 40.5px;
}
.header__image-box {
  width: 570px;
  height: 570px;
}

/* ======================= CATEGORIES =================== */
.categories {
  /* Стили для Categories */
  background-color: #EAF3FF;
  padding-top: 120px;
  max-height: 460px;
  background-image: url(../../img/header/header-decor2.svg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  /* Стили для Вложенности */
}
.categories__content {
  margin: 0 auto;
  text-align: center;
}
.categories__subtitle {
  padding-bottom: 18px;
}
.categories__title {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  padding-bottom: 14px;
}
.categories__text {
  padding-bottom: 43px;
}
.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}
.categories__item {
  padding: 32px 45px 23px 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  margin-right: 30px;
}
.categories__item:last-child {
  margin-right: 0px;
}
.categories__item-icon {
  margin-bottom: 10px;
}
.categories__item-icon:hover {
  margin-bottom: 10px;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.categories__item--calk {
  background: #E3F0FF;
}
.categories__item--sun {
  background: #FFF2DE;
}
.categories__item--chemist {
  background: #ECFFD7;
}
.categories__item--info {
  background: #FFE2E5;
}
.categories__item-text {
  font-size: 20px;
}
.categories__button {
  padding: 15px 37px;
  color: #4A90E2;
}

/*======================= CORSES =================== */
.courses {
  /* Стили для COURSES */
  padding-top: 320px;
  max-width: 1150px;
  margin: 0 auto;
  /* Стили для вложенности */
}
.courses__suvtitle {
  padding-bottom: 18px;
}
.courses__title {
  font-size: 56px;
  line-height: 64px;
  padding-bottom: 60px;
}
.courses__row {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
  border-radius: 12px;
}
.courses__profile-icon {
  padding-right: 10px;
}
.courses__profile-icon--hover {
  width: 98.19%;
  height: 45.237%;
}
.courses__row-content {
  padding: 24px;
}
